html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.logo {
  text-align: center;
  background-color: rgb(97, 179, 49);
  color: white;
  padding: 0.5em;
}

#Menu-bar {
  background-color: yellow;
}

#Menu-bar span {
  padding: 1%;
  height: 40%;
  /* width: 8vw; */
  display: flex;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 2em;
  border: 1px solid white;
}

.menu-procedure {
  /* height: 500px; */
  padding: 25px;
  font-size: 24px;
  border: dotted;
  background-image: url(./food.jpg);
}

input[type="text"] {
  font-size: 3vh;
}

#image {
  width: 300px;
  height: 300px;
}

.delicacie {
  list-style-type: none;
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0%;
  cursor: zoom-in;
}

.delicacie > li {
  padding-right: 1.5%;
  font-weight: 500;
  cursor: zoom-in;
}

#detailed-info {
  color: white;
  width: 70%;
  margin: 0px auto;
}

.image1 {
  text-align: center;
}

#name {
  color: yellow;
  text-align: center;
  cursor: zoom-in;
}
#addcomment{
  display: block;
}
